{% extends main_template %}
{% block content %}
    {% if user %}
        hello {{ user.email }}
    {% endif %}
    <br>
تارنمای مدیریت زرومه
    پروژه‌ی درس پایگاه داده پیشرفته سید حمید مهدوی و پیمان زینلی
{% endblock %}