<footer class="footer">
    <div class="container">
        <div class="text-muted left"> تارنمای مدیریت زرومه </div>
        <div class="text-muted right"> {{ 'version' }}: &lrm;{{ version }}&lrm; </div>
    </div>
</footer>